body{
    background-image: url("Kit.jpg");
    text-align: center;
    justify-content: center;
    margin: 0;
    height: 100vh; /* full viewport height */
    background-repeat: no-repeat;   /* stops tiling */
    background-size: cover;         /* stretches to cover the whole area */
    background-position: center;    /* keeps it centered */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    backdrop-filter: blur(3px);
}

img{
    width: 50%;
    height: auto;
}
h1{
    margin-top: -20px;
    font-size: 60px;
    font-weight: 800px;
}
p{
    margin-top: -30px;
    font-size: 20px;
}

a{
   text-decoration: none;
    background-color: rgba(187, 185, 185, 0.7);
   color: white;

   padding: 10px 100px;
   border-radius: 20px;

}
